# Salmonella Phage Analysis

In [10]:
import pandas as pd

In [11]:
import glob
import matplotlib.pyplot as plt
%matplotlib inline

In [12]:
Results = glob.glob()

In [13]:
master_list =[]

In [14]:
for file in Results:
    
    name = file
    
    print (name)

    file = open(file, "r")
    
    for line in file:
        entry_list =  line.strip().split()
        entry_list.append(name)
        
        print (entry_list)
        
        master_list.append(entry_list)
        
        
    file.close()

In [15]:
master_df = pd.DataFrame(columns=['count', 'species', 'file'], data=master_list)

In [16]:
master_df.head()

   count      species                                        file
0  16815  NC_010392.1  ../results/test.SRR2538292.sam.species.txt
1  16776  NC_017985.1  ../results/test.SRR2538292.sam.species.txt
2  16638  NC_010393.1  ../results/test.SRR2538292.sam.species.txt
3  12794  NC_004313.1  ../results/test.SRR2538292.sam.species.txt
4   8658  NC_030919.1  ../results/test.SRR2538292.sam.species.txt

In [17]:
master_df['count'] = master_df['count'].astype(int)

In [18]:
import seaborn as sns

ImportError: No module named 'seaborn'

In [ ]:
fig, ax = plt.subplots(figsize=(80,20))

sns.barplot(x="species", y="count", data=master_df,palette="Blues_d")

In [ ]:
master_df.dtypes

In [ ]:
grouped = master_df.groupby(['file']).sum().sort_values('count', ascending=False)

In [ ]:
fig, ax = plt.subplots(figsize=(20,10))

grouped.head(25).plot(kind='bar', ax=ax)

Convert SAM files to BAM and bedGraph to calculate the coverage